@tailwind base;
@tailwind components;
@tailwind utilities;
.carousel-item {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
.carousel-scroll-wrapper {
  position: relative;
  will-change: transform;
}
.background-animate {
    background-size: 400%;
    -webkit-animation: AnimationStart 3s ease 1;
    -moz-animation: AnimationStart 3s ease 1;
    animation: AnimationStart 3s ease 1;
    animation-delay: 1000ms;
  }
  .background-position{
    background-size: 400%;
    background-position: 0% 50%;
  }
  @keyframes AnimationStart {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .background-image{
    background-image: url('https://pilbox.themuse.com/image.jpg?filter=antialias&h=385&opt=1&pos=top-left&prog=1&q=keep&url=https%3A%2F%2Fcms-assets.themuse.com%2Fmedia%2Flead%2F01212022-1047259374-coding-classes_scanrail.jpg&w=700');
    background-size: cover;
  }
  .background-animate-technologies {
      background-size: 600%;
      -webkit-animation: AnimationStartTechnologies 15s ease infinite;
      -moz-animation: AnimationStartTechnologies 15s ease infinite;
      animation: AnimationStartTechnologies 15s ease infinite;
      animation-delay: 1000ms;
    }
@keyframes AnimationStartTechnologies {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

.background-animate-projects {
    background-size: 400%;
    -webkit-animation: AnimationStartProjects 1s ease-in 1;
    -moz-animation: AnimationStartProjects 1s ease-in 1;
    animation: AnimationStartProjects 1s ease-in 1;
  }

@keyframes AnimationStartProjects {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }